#### 1. Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.
     - Input Format:
            The first line of the input contains an email address.
      Output Format:
        Print the company name in single line.
        Example;
        Input:
        john@google.com
        Output:
        google

In [18]:
email = input("enter email address : ")
s = email.split("@")
companyName = s[1].split(".")
print(companyName[0])

enter email address : username@gmail.com
gmail

#### 2. Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.
    Input Format:
    The first line of input contains words separated by the comma.
    Output Format:
    Print the sorted words separated by the comma.
    Example:
    Input:
    without,hello,bag,world
    Output:
    bag,hello,without,world

In [17]:
userInput = input("enter sequence of words seperated by comma :  ")
s = userInput.split(",")
output = sorted(s)
for i in output:
    if(output.index(i) == len(output) -1):
        print(i , end="")
    else:
        print(i , end=",")

enter sequence of words seperated by comma :  without,hello,bag,world
bag,hello,without,world

### 3. Create your own Jupyter Notebook for Sets.
    Reference link: https://www.w3schools.com/python/python_sets.asp

## SETS 
    - A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
    - to create set => set1 = {1,2,3,4,5}

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [3]:
# adding into set
thisset.add('hello')
thisset

{'apple', 'banana', 'cherry', 'hello'}

In [4]:
set2 = {"apple", "mango" , "cherry","banana", "grapes"}

In [15]:
# Intersection of 2 sets 
print(thisset.intersection(set2))
# union of two sets 
print(thisset.union(set2))
# to find the superset 
print(thisset.issuperset(set2))
# len of the set 
print(len(thisset))
# to update with more than one item
thisset.update(["hello" , "hi", "how" , "are", "You"])
print(thisset)
# To remove an item in set using remove()
thisset.remove('hello')
print(thisset)
# remove using discard
thisset.discard('are')
print(thisset)

{'cherry', 'apple', 'banana'}
{'banana', 'hi', 'You', 'mango', 'are', 'grapes', 'apple', 'cherry', 'how'}
False
7
{'banana', 'hi', 'You', 'hello', 'are', 'apple', 'cherry', 'how'}
{'banana', 'hi', 'You', 'are', 'apple', 'cherry', 'how'}
{'banana', 'hi', 'You', 'apple', 'cherry', 'how'}

#### 4. Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
    Input Format:
    The first line contains n-1 numbers with each number separated by a space.
    Output Format:
    Print the missing number
    Example:
    Input:1 2 4 6 3 7 8
    Output:5
    Explanation:
    In the above list of numbers 5 is missing and hence 5 is the input

In [39]:
userInput = list(map(int , input().split(" ")))
lenghth  = len(userInput)
rangeNum = []
for i in range(userInput[0],lenghth+1):
    rangeNum.append(i)
print(rangeNum)
for i in userInput:
    if i not in rangeNum:
        print(i)

1 2 4 6 3 7 8
[1, 2, 3, 4, 5, 6, 7]

#### 5. Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
    Example:
    If the input list is
    12 24 35 24 88 120 155 88 120 155
    Then the output should be
    12 24 35 88 120 155
    Explanation:
    Third, seventh and ninth element of the list L has been removed because it was already present.
    Input Format:
    In one line take the elements of the list L with each element separated by a space.
    Output Format:
    Print the elements of the modified list in one line with each element separated by a space.
    Example:
    Input: 12 24 35 24
    Output:
    12 24 35

In [1]:
userInput = list(map(int , input().split(" ")))
output = []
for i in userInput:
    if i not in output:
        output.append(i)
for i in output:
    print(i , end=" ")

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155